body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.navbar {
    background-color: #007BFF;
    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#searchStudent {
    width: 400px;
    display: block;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #007BFF;
    color: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}