.app {
  min-height: 100vh;
  background: #e8f1fc;
}

.main-content {
  margin-left: 235px;
  min-height: 100vh;
}
@media (max-width: 768px) {

  .main-content {
    margin-left: 0;
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
  }

}
