* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  width: 100%;
}

body {
  font-family:
    Arial,
    Helvetica,
    sans-serif;

  background: #e8f1fc;

  color: #17213c;
}

button,
input,
select {
  font-family: inherit;
}